
body {
  -webkit-app-region: drag;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  text-align: center;
  user-select: none;
  
}
.item-desc {
  width: auto;
  
  display: flex;
  font-size: x-small;

}

.main-item {
  display: flex;
  width: 40%;
  height: 100vh;
  background-color: transparent
}
* {
  color: white;
  margin: 0;
  padding: 0;
  
}

.side-items {

  height: 100vh;
  width: 30%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.side-item {
  width: 100%;
  height: fit-content;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
